* {
    margin:0;
    padding:0;
}
fsdfsdfsdf
.background {
    background-color: rgb(44, 63, 80);
}


nav {
    margin-top:0;
    background-image: url(https://img.freepik.com/free-vector/stylish-glowing-digital-red-lines-banner_1017-23964.jpg?size=626&ext=jpg&ga=GA1.2.1850830551.1631404800);
    width: 100%;
    height: 100px;
}

ul li {
    padding-top: 2.5rem;
    float:left;
    text-align: center;
    list-style-type: none;
   
}

ul li a:hover{
    background-color: white;
    color:black;
   
}

ul li a {
    padding: 1rem;
    color:white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.651);
    line-height: 3rem;
}

h1 {
    color:white;
    float:right;
    padding-right: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color:red;
}